.number {
    background-color: #F0EFF5;
    color: #000;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 2rem;
    border-color: black;
    border-width: 10px;
    transition: all 0.2s;
}

.number:hover{
    background-color: #ddd;
    transform: translateY(3px);
}

.equal{
    background-color: #FF9501;
    color: #000;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
    width: 8rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 2rem;
    border-color: black;
    border-width: 10px;
    transition: all 0.2s;
}

.equal:hover{
    background-color: #FFBF66;
    transform: translateY(4px);
}