.text {
  background-color: #F0EFF5;
  color: #000;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2.5rem;
  border-radius: 2rem;
  text-align: right;
  width: 19.5rem;
  border-color: black;
  border-width: 10px;
  overflow: hidden;
  white-space: nowrap;
}


.secondText {
  font-size: 1.5rem;
}

.menu{
  overflow: hidden;
  width:100vw;
  height:100vh;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  background: #D4D4D2;
}

.inner{
  margin: auto;
  padding: 1rem;
  background-color: #1D1D1D;
  border-radius: 3rem;
  width: 22.5rem;
}
@media screen and (max-width: 960px) {
  .menu{
    height: 92.5vh;
  }
}
