.text {
  background-color: bisque;
  color: #000;
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  text-align: end;
  width: 22.5rem;
  border-color: black;
  border-width: 10px;
}

.menu{
  width:100vw;
  height:100vh;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  background: rgb(145,64,199);
  background: linear-gradient(90deg, rgba(145,64,199,1) 0%, rgba(179,5,5,1) 50%, rgba(249,162,41,1) 100%);
}

.inner{
  margin: 4rem auto;
  padding: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
  width: 26.5rem;
  height: 40.5 rem;
}

