.text {
  background-color: bisque;
  color: #000;
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  text-align: end;
  width: 22.5rem;
  border-color: black;
  border-width: 10px;
}

.menu{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 4rem;
}

.inner{
  margin: 2rem;
  padding: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
  width: 26.5rem;
  margin: 0 auto;
}

